@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
h1 {
    font-size: 50px;
}

.nav-div {
    background-color: grey;
    border-radius: 6px;
}

p1 {
    color: orangered;
}

.Hueberschrift {
    color: darkblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    white-space: nowrap;
    text-align: center;
    padding: 30;
}

.englischteil {
    font-size: medium;
}

p1 {
    font-size: larger;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.titelknoepfe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 80;
    position: relative;
    bottom: 30px;
    border-radius: 6px;
}

.websiteende {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50;
    position: static;
    bottom: 10px;
    border-radius: 10px;
}

.end-div{
    background-color: grey;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    margin: auto;
    padding: none;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 16%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

button:hover {
    width: 16%;
    animation: borderanimation forwards;
    animation-duration: 1s;
}

@-webkit-keyframes borderanimation {
    0% {
        height: 30px;
    }
    100% {
        height: 30px;
    }
}

@keyframes borderanimation {
    0% {
        height: 30px;
    }
    100% {
        height: 30px;
    }
}

.titelknopf {
    font-size: 12.2pt;
    text-decoration: none;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a green background color to the active link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }
.status {
    color: green;
}

.linkto-context {
    text-decoration: none;
    color: black;
}

.linkto-index {
    text-decoration: none;
}

.titleimg-flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 1%;
    border-radius: 6px;
    width: 100%;
    height: auto;
    
}

.titleimgbos-flexbox {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1%;
    border-radius: 6px;
    width: 100%;
    height: 20%;
    
}


.titleimg {
    width: 100%;
    height: auto;
    max-width: 1500px;
    max-height: 422px;
    border: darkgray groove;
    border-radius: 3px;
    
}

.context {
    text-decoration: none;
    color: blue;
    
}

main {
    margin-right: 8px;
}

maintextbos{
    color: black;
}

.backgroundbos { 
    background-image: linear-gradient(90deg, rgb(106, 98, 133) 66.0%, rgb(70, 52, 70) 34.0%);
    size: 100%;
    
 }

 .designnews {
    background-image: linear-gradient(90deg, rgb(13, 2, 49) 50.0%, rgb(26, 83, 21) 50.0%);
    size: 100%;
    color: white;
 }

 .designnews-flexbox {
    display: flex;
    
    position: relative;
    margin-top: 1%;
    border-radius: 6px;
    width: 80%;
    height: 40%;

    background-image: repeating-radial-gradient(circle at center, rgb(53, 137, 148) 20px, rgb(141, 202, 204) 40px, rgb(49, 118, 128) 50px);

    color: rgb(0, 0, 0);
    font-size: larger;
}

.anime { animation: turner 10s infinite linear }

@keyframes turner{
    from{  transform: rotateY(0deg)   }
    to  {  transform: rotateY(360deg) }
}

.copyright {
    background-color: grey;
    border-radius: 7px;
    height: 75px;
    justify-content: space-around;
    width: 100%;
    
}



.looper { animation: perspect 10s infinite linear }
@keyframes perspect {
   0% {transform:perspective(300px) rotateY(0deg)}
   25% {transform:perspective(300px) rotateY(90deg)}
   50% {transform:perspective(300px) rotateY(180deg)}
   75% {transform:perspective(300px) rotateY(270deg)}
   100% {transform:perspective(300px) rotateY(360deg)}
}


/*KOPIERTER CODE*/

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a green background color to the active link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }